@font-face {
    font-family: 'WorkSans';
    src: url('/assets/fonts/WorkSans-VariableFont_wght.ttf');
}

$pink :hsl(275, 100%, 97%);
$purple-1 :hsl(292, 16%, 49%);
$purple-2 :hsl(292, 42%, 14%);

* {
    font-family: "Work Sans", sans-serif;
}

h1 , button {
    color: $purple-2;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

button {
    font-size: 16px;
    font-weight: 600;
}

p {
    color: $purple-1;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

@media only screen and (min-width : 1024px) {
    h1 {
        font-size: 56px;
    }
    button {
        font-size: 18px;
    }
    p {
        font-size: 16px;
    }
}